
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #444444;
  }
  header {
    background-color: hsl(7, 89%, 39%);
    color: rgb(1, 196, 82);
    padding: 2rem;
    text-align: center;
  }
  main {
    padding: 2rem;
  }
  .intro {
    background: rgb(214, 214, 214);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  }
  footer {
    text-align: center;
    padding: 1rem;
    background: #eee;
    margin-top: 2rem;
  }
  .hero {
    position: relative;
    background: linear-gradient(135deg, #6ddf6d, #3dcf90, #1abc9c, #16a085); /* Novo gradiente */
    background-size: 400% 400%;
    animation: backgroundMove 10s ease infinite;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8rem 2rem; /* Mantendo a altura do cabeçalho */
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 4px 12px rgba(64, 83, 145, 0.2);
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .hero .wave {
    position: absolute;
    bottom: -14; /* Aumente o valor negativo para puxar mais para baixo */
    left: 0;
    width: 100%;
    height: 150px; /* Tamanho da onda */
  }
  
  
  @keyframes backgroundMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  